#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: victoribarra
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCjfJZoMUyIYunm5eE7q650HcJNIceXlP2xKtOyLQTq5mgK8/pMG6/K21zKMfMPZWr4bPtj9bfMC15QZK0gGV2GgSKA8kMK3SG6uQFJTV9t7dslkTdgVS0AwWqOZLisYP4RJlNYSg7+9FuWeM/Codb2Ln+AfZzA9KDE/RK12KMI0sHdPUZk/wkw12OR/cV1LASwPF8sV3qEh1ezSp80PMcZuvRHHhO2yQtc9ntoGwczbDcHjODWzuG7/QN0CmhzE8kPcijBl3BcFBNYEXj+04qotTevw9D97eQc9SgRhx6UjWrYeMM+s8BlMjP33EWfZWYgqGDwAxjZmMZPGlDKG21D victor@victoribarra
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
